<header class="bg-white drop-shadow-sm">
    <nav class=" mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
                <span class="sr-only"></span>
                <img class="h-10 w-auto" src="https://cdn-icons-png.flaticon.com/128/3304/3304749.png" alt="سفیر">
            </a>
        </div>

        <div class="hidden lg:flex lg:gap-x-12">
            <a href="/" class="text-sm font-semibold leading-6 text-gray-900">خانه</a>
            <a href="/about" class="text-sm font-semibold leading-6 text-gray-900">درباره ما </a>
            <a href="/contact" class="text-sm font-semibold leading-6 text-gray-900">تماس با ما</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span
                    aria-hidden="true">&rarr;</span></a> -->
            <!-- <button class="rounded-md px-4 py-2 transition flex flex-row text-gray-700 items-center"
                onclick="openModal('modelConfirm')"
                >
                <i class="ri-user-line ml-2 text-xl"></i>
                ورود یا ثبت نام
            </button> -->
<!-- 
            <button class="rounded-md px-4 py-2 transition flex flex-row text-gray-700 items-center"
                id="auth-user-button">
                <i class="ri-user-line ml-2 text-xl"></i>
                <a href="/login">
                    ورود یا ثبت نام
                </a>
            </button> -->
            <div class="px-4 py-2 flex flex-row text-gray-700 items-center">
                <i class="ri-user-follow-line  ml-2 text-xl"></i>
                <a href="/profile">
                    حساب کاربری
                </a>
            </div>


        </div>
    </nav>
</header>