<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg"
    data-sidebar-image="none">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <title>
        <%=title%>
    </title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/3304/3304749.png">
    <link rel="stylesheet" href="../adminTheme/assets/css/bootstrap.rtl.min.css">

    <link rel="stylesheet" href="../adminTheme/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../adminTheme/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../adminTheme/assets/css/style.css">

    <script src="../adminTheme/assets/js/layout.js" type="5917e4001d4bc01a70c4bb70-text/javascript"></script>
</head>

<body>

    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <img class="img-fluid logo-dark logo-color mb-3" style="width: 60px;height: 60px;"
                                src="https://cdn-icons-png.flaticon.com/128/3304/3304749.png" alt="Logo">
                            <h1>ثبت نام</h1>
                            <p class="account-subtitle">دسترسی به حساب کاربری</p>

                            <form action="javascript:void(0);">

                                <div class="input-block mb-3">
                                    <label class="form-control-label">شماره همراه</label>
                                    <input class="form-control" type="text" name="phone" id="phone">
                                    <span id="phone-msg" style="color: rgb(202, 5, 5);display: none;"></span>
                                </div>
                                <div class="input-block mb-3">
                                    <label class="form-control-label">پسورد</label>
                                    <div class="pass-group">
                                        <input type="password" class="form-control pass-input" name="password"
                                            id="password">
                                        <span class="fas fa-eye toggle-password"></span>
                                    </div>
                                    <span id="password-msg" style="color: rgb(202, 5, 5);display: none;"></span>

                                </div>
                                <div class="input-block mb-0">
                                    <button id="register-btn" class="btn btn-lg  btn-primary w-100" type="button">ثبت
                                        نام</button>
                                </div>
                            </form>
                            <div class="text-center dont-have">حساب دارید؟ <a href="/admins/login">ورود</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js"></script>

    <script>
        let btn = document.getElementById("register-btn")
        let phone = document.getElementById("phone")
        let password = document.getElementById("password")

        btn.addEventListener("click", (e) => {
            e.preventDefault()
            if (phone.value === "" || phone.value === undefined || phone.value === null) {
                document.getElementById("phone-msg").style.display = "block"
                document.getElementById("phone-msg").innerText = "* شماره همراه باید وارد شود"
            }

            if (password.value === "" || password.value === undefined || password.value === null) {
                document.getElementById("password-msg").style.display = "block"
                document.getElementById("password-msg").innerText = "* پسورد باید وارد شود"
            }

            else {
                axios.post('/api/v1/admins/auth/register', {
                    phone: phone.value,
                    password: password.value,
                })

            }
        })

    </script>

</body>


</html>