<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://majidh1.github.io/JalaliDatePicker/assets/demo.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script type="text/javascript"
        src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"></script>
</head>

<body class="bg-white">
    <div style="display: none;" id="first-phone-auth"
        class="relative top-40 mx-auto rounded-md bg-white max-w-md border border-gray-300" style="padding: 2px;">
        <div style="display: none;" class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 sm:rounded-lg sm:px-10 text-center">
                <span class="text-2xl block font-bold text-center"> ورود </span>
                <br>
                <span class="mt-12">برای ادامه شماره موبایل خود را وارد کنید.</span>
                <form>
                    <div>
                        <label for="email" class="block text-sm font-medium leading-5 mt-8 text-gray-700">
                            شماره همراه
                        </label>
                        <div class="mt-1 relative rounded-md shadow-sm mb-8">
                            <input id="email" name="email" placeholder="0938xxxxxxxx" type="email" required="" value=""
                                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-yellow focus:border-yellow-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                            <div class="hidden absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd"
                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                        </div>
                    </div>


                    <div class="text-warning">
                        <i class="ri-error-warning-line text-xl"></i>
                        استفاده از سفیر به معنی پذیرش قوانین و مقررات این سرویس است.
                    </div>

                    <div class="mt-12">
                        <span class="block w-full rounded-md shadow-sm">
                            <button type="submit"
                                class="w-full flex justify-center py-2 px-4 border border-transparent text-white font-medium rounded-md text-black bg-blue-600 hover:bg-blue-800 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out">
                                ورود
                            </button>
                        </span>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="second-phone-auth" class="max-w-md p-4 mx-auto max-w-sm mt-20 rounded border border-gray-300 ">
        <form class="px-4 py-6">
            <p class="text-right">
                کد تایید را وارد کنید
            </p>
            <p class="text-right">
                کد تایید برای شماره ۰۹۳۸۳۹۰۱۱۴۶ پیامک شد
            </p>
            <div class="flex justify-between gap-2 mb-6 mt-4">
                <input
                    class="w-12 h-12 text-center border rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
                <input
                    class="w-12 h-12 text-center border rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
                <input
                    class="w-12 h-12 text-center border rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
                <input
                    class="w-12 h-12 text-center border rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
            </div>
            <div class="flex flex-col items-center justify-center">
                <button
                    class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button">
                    تایید کد
                </button>
                <a class="block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 mt-2" href="#">
                    ارسال مجدد کد
                </a>
            </div>
        </form>
    </div>
</body>

</html>