<!doctype html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://majidh1.github.io/JalaliDatePicker/assets/demo.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/3304/3304749.png" type="image/x-icon">

    <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script type="text/javascript"
        src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <link rel="stylesheet" href="../../css/toastify.css">
    <title>جستجوی بلیط</title>

</head>

<body>
    <%-include("./const/header")%>

        <main class="">
            <!-- <div class="bg-cover bg-center w-full h-64"
            style="background-image: url('');">
        </div> -->
            <div style="font-size: 18px;margin-top: 40px;"
                class="flex w-2/3 mx-auto flex-row justify-between items-center mb-6 p-12 border border-gray-300 shadow-lg rounded-lg bg-white">
                <select style="width: 180px;" id="firstCity" class="bg-white mr-6 px-4 py-2 border rounded-md">
                    <option selected>مبدا</option>
                    <option value="arak">اراک</option>
                    <option value="ardebil">اردبیل</option>
                    <option value="oromieh">ارومیه</option>
                    <option value="isfahan">اصفهان</option>
                    <option value="ahvaz">اهواز</option>
                    <option value="elam">ایلام</option>
                    <option value="bognord">بجنورد</option>
                    <option value="bandar_abbas">بندرعباس</option>
                    <option value="bosher">بوشهر</option>
                    <option value="birgand">بیرجند</option>
                    <option value="tabriz">تبریز</option>
                    <option value="tehran">تهران</option>
                    <option value="khoram_abad">خرم آباد</option>
                    <option value="rasht">رشت</option>
                    <option value="zahedan">زاهدان</option>
                    <option value="zanjan">زنجان</option>
                    <option value="sari">ساری</option>
                    <option value="semnan">سمنان</option>
                    <option value="sanandaj">سنندج</option>
                    <option value="sharekord">شهرکرد</option>
                    <option value="shiraz">شیراز</option>
                    <option value="ghazvin">قزوین</option>
                    <option value="ghom">قم</option>
                    <option value="karaj">کرج</option>
                    <option value="kerman">کرمان</option>
                    <option value="kermanshah">کرمانشاه</option>
                    <option value="gorgan">گرگان</option>
                    <option value="mashhad">مشهد</option>
                    <option value="hamedan">همدان</option>
                    <option value="yasoj">یاسوج</option>
                    <option value="yazd">یزد</option>

                </select>
                <select style="width: 180px;" id="lastCity" class="bg-white mr-6 px-4 py-2 border rounded-md">
                    <option selected>مقصد</option>
                    <option value="arak">اراک</option>
                    <option value="ardebil">اردبیل</option>
                    <option value="oromieh">ارومیه</option>
                    <option value="isfahan">اصفهان</option>
                    <option value="ahvaz">اهواز</option>
                    <option value="elam">ایلام</option>
                    <option value="bognord">بجنورد</option>
                    <option value="bandar-abbas">بندرعباس</option>
                    <option value="boshehr">بوشهر</option>
                    <option value="birgand">بیرجند</option>
                    <option value="tabriz">تبریز</option>
                    <option value="tehran">تهران</option>
                    <option value="khoram-abad">خرم آباد</option>
                    <option value="rasht">رشت</option>
                    <option value="zahedan">زاهدان</option>
                    <option value="zanjan">زنجان</option>
                    <option value="sari">ساری</option>
                    <option value="semnan">سمنان</option>
                    <option value="sanandaj">سنندج</option>
                    <option value="sharekord">شهرکرد</option>
                    <option value="shiraz">شیراز</option>
                    <option value="ghazvin">قزوین</option>
                    <option value="ghom">قم</option>
                    <option value="karaj">کرج</option>
                    <option value="kerman">کرمان</option>
                    <option value="kermanshah">کرمانشاه</option>
                    <option value="gorgan">گرگان</option>
                    <option value="mashhad">مشهد</option>
                    <option value="hamedan">همدان</option>
                    <option value="yasoj">یاسوج</option>
                    <option value="yazd">یزد</option>
                </select>
                <input style="width: 200px;" type="number" id="count" min="1" max="6"
                    class="bg-white mr-6 px-4 py-6 border rounded-md" placeholder="نفرات">
                <input style="width: 200px;" type="text" id="movingDate"
                    class="bg-white mr-6 px-4 py-6 border rounded-md" data-jdp data-jdp-min-date="today"
                    placeholder="تاریخ حرکت" />

                <div class="mr-6 p-2">
                    <button style="width: 200px;height: 50px;"
                        class="bg-yellow-400 border border-yellow-500 hover:bg-yellow-300 rounded-md" id="search">
                        جستجو
                    </button>
                </div>
            </div>


            <!-- start bus -->
            <div class="flex flex-col justify-center items-center m-6">
                <div id="bus" class="max-w-2xl mx-auto mt-24">
                    <!-- <div
                        class="flex gap-3 bg-white border border-gray-300 rounded-xl overflow-hidden items-center justify-start">

                        <div class="relative w-32 h-32 flex-shrink-0">
                            <img class="absolute left-0 top-0 w-full h-full object-cover object-center transition duration-50"
                                loading="lazy" src="https://via.placeholder.com/150">
                        </div>

                        <div class="flex flex-col gap-2 py-2">

                            <p class="text-xl font-bold">article</p>
                            <span class="flex items-center justify-start text-gray-500">
                                <svg class="w-4 h-4 mr-1 mt-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <a href="amitpachange.com" target="_blank">رزرو بلیط</a>
                            </span>

                        </div>

                    </div> -->

                </div>
            </div>

            <!-- end bus -->

            </div>
        </main>

        <!-- 
        <h1 style="text-align:center">jalali datePicker - دیت پیکر شمسی</h1>
        <input type="text" data-jdp placeholder="لطفا یک تاریخ وارد نمایید" />
        <input type="text" data-jdp data-jdp-min-date="today" placeholder="نمایش تاریخ از امروز" />
        <input type="text" data-jdp data-jdp-max-date="today" placeholder="نمایش تاریخ تا امروز" />
        <input type="text" data-jdp data-jdp-max-date="1401/10/08" placeholder="نمایش تاریخ تا 1401/10/08" />

        <div class="settings" dir="rtl">
            <a target="_blank" href="https://github.com/majidh1/JalaliDatePicker">
                Github
            </a>
        </div>
        <p>این پلاگین تنظیمات زیادی دارد که می توانید از لینک github مستندات کاملش رو مشاهده کنید.</p>
        <p> با انتخاب کنترل input پلاگین date picker فعال شده و می توانید تاریخ مورد نظر خود را انتخاب نمایید</p>

        <h1>persian date picker</h1> -->




        <script type="text/javascript">
            window.openModal = function (modalId) {
                document.getElementById(modalId).style.display = 'block'
                document.getElementsByTagName('body')[0].classList.add('overflow-y-hidden')
            }

            window.closeModal = function (modalId) {
                document.getElementById(modalId).style.display = 'none'
                document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
            }

            // Close all modals when press ESC
            document.onkeydown = function (event) {
                event = event || window.event;
                if (event.keyCode === 27) {
                    document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
                    let modals = document.getElementsByClassName('modal');
                    Array.prototype.slice.call(modals).forEach(i => {
                        i.style.display = 'none'
                    })
                }
            };
        </script>
        <script>
            jalaliDatepicker.startWatch({
                minDate: "attr",
                maxDate: "attr"
            });
            /* Below is a js demo | you don't need to use */
            setTimeout(function () {
                var elm = document.getElementsByTagName("input")[0];
                elm.focus();
                jalaliDatepicker.hide();
                jalaliDatepicker.show(elm);
            }, 1000);
        </script>
        <script>
            let authMsg = document.getElementById("user-auth-msg")
            let userStorageInfo = localStorage.getItem("user")


            if (userStorageInfo) {
                authMsg.innerHTML = `<div class="px-4 py-2 flex flex-row text-gray-700 items-center">
                    <i class="ri-user-follow-line  ml-2 text-xl"></i>
                    <a href="/profile">
                        حساب کاربری
                    </a>
                </div>`
            } else {
                authMsg.innerHTML = `<button class="rounded-md px-4 py-2 transition flex flex-row text-gray-700 items-center"
                        id="auth-user-button">
                        <i class="ri-user-line ml-2 text-xl"></i>
                        <a href="/login">
                            ورود یا ثبت نام
                        </a>
                    </button>`
            }



        </script>


        <script src="../../javascripts/user/searchTickets.js"></script>
        <script src="../../javascripts/utils/toast.js"></script>

</body>

</html>